<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Layout"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_sua"
            android:exported="false" />
        <activity
            android:name=".CustomPopupDialog"
            android:exported="false" />
        <activity
            android:name=".MainActivity_my_popup"
            android:exported="false" />
        <activity
            android:name=".MainActivity_log2"
            android:exported="false" />
        <activity
            android:name=".MainActivity_log1"
            android:exported="false" />
        <activity
            android:name=".MainActivity_userinfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity_my"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_popup"
            android:exported="false" />
        <activity
            android:name=".MainActivity_signup4"
            android:exported="false" />
        <activity
            android:name=".MainActivity_signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity_signup3"
            android:exported="false" />
        <activity
            android:name=".MainActivity_signup2"
            android:exported="false" />
    </application>

</manifest>